{namespace bf=Tx\Bnbfilesharing\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">

    <f:flashMessages/>

    <f:render partial="FolderList/FolderList" arguments="{folders: rootFolders, contentUid: contentUid, parentUid: 0}"/>

    <bf:permissions.folder permission="createRoot">
        <f:link.action action="createRootForm" class="btn btn-default">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Verzeichnis anlegen
        </f:link.action>
    </bf:permissions.folder>

</f:section>
