
.tx-bnbfilesharing {
	width: 100%;
	font-family: Verdana, Arial, sans-serif;
	}


.tx-bnbfilesharing ul {
	margin: 0 0 20px 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
}

.tx-bnbfilesharing ul li {
	font-size: 11px;
}

.tx-bnbfilesharing ul li ul li li {
	font-size: 11px;
}


.tx-bnbfilesharing ul li ul li:focus,
.tx-bnbfilesharing ul li ul li:hover {
	background-color:#dedede;
}


.tx-bnbfilesharing ul li ul li.hochladen:focus,
.tx-bnbfilesharing ul li ul li.hochladen:hover,
.tx-bnbfilesharing ul li ul li.kategorie:focus,
.tx-bnbfilesharing ul li ul li.kategorie:hover {
	background-color:transparent;
}

.tx-bnbfilesharing ul li a {
	color:#666666;
}


.tx-bnbfilesharing li.kategorie1 ul,
.tx-bnbfilesharing li.kategorie1 ul li.kategorie2 ul,
.tx-bnbfilesharing li.kategorie1 ul li.kategorie2 ul li.kategorie3 ul {
	display: none;
}

.tx-bnbfilesharing li.kategorie1 ul li ul,
.tx-bnbfilesharing li.kategorie1 ul li.kategorie2 ul li ul,
.tx-bnbfilesharing li.kategorie1 ul li.kategorie2 ul li ul li.kategorie3 ul li ul {
	display: block;
}

.tx-bnbfilesharing li.kategorie1 ul li.kategorie2 ul li.kategorie3 ul li ul.eintrag {
 	display: block; /*muss explizit so genannt sein, wieso auch immer?*/
}


.tx-bnbfilesharing li.kategorie  {
	font-weight: bold;
	height: auto; 
	margin: 10px 0 0 0;
	border-bottom: 1px solid #ffffff;
}

.tx-bnbfilesharing a.flip {
	text-decoration: none;
}


.tx-bnbfilesharing a.upload {
	color:#f29400;
	font-weight: bold;
	text-decoration: none;
}

.tx-bnbfilesharing a.upload img {
	vertical-align: middle;
	padding: 0 2px 0 0;
}

.tx-bnbfilesharing a span.aufzu {
	padding: 0em 2px;
	margin: 0 2px 0 0;
	border: 1px solid #575758;
	
}

/*tiefere ebene*/
.tx-bnbfilesharing ul li ul,
.tx-bnbfilesharing ul li ul li ul {
	margin: 0 0 5px 20px;
}


.tx-bnbfilesharing ul li ul.eintrag {
	margin: 0 0 0 13px;
}


.tx-bnbfilesharing ul li ul li,
.tx-bnbfilesharing ul li ul li ul li {
	border-bottom: 1px solid #cccccc;
	padding: 6px 0 3px 0;
	height: 20px;
	font-size: 100%;
	font-weight: normal;
	margin: -1px 0 0 0; /*wg luecke im ie*/
}


.tx-bnbfilesharing ul li ul.eintrag li {
	border-bottom: 0 solid #ffffff;
	padding: 0; 
}



li.datum {
	display: inline;
	float: left;
	width: 11%;
}

li.datei {
	display: inline;
	float: left;
	width: 53%;
}


li.autor {
	display: inline;
	float: left;
	width: 20%;
}



li.editieren,
li.upload-lang,
li.delete {
	display: inline;
	float: left;
	width: 4%;
}

li.editieren img,
li.upload-lang img,
li.delete img {
	vertical-align: middle;
}




img#wait {
	position: absolute;
 	top: 2px;
	left: 2px;
	padding: 0 5px 0 6px;
	background-color: #ffffff;
	display: none;
}


div#uploadform,
div#editform,
div#folderform,
div#editfolderform,
div#newfolderform,
div#confirmdeletefile,
div#confirmdeletefolder,
div#error {
	padding: 2px;
	font-family: Verdana, Arial, sans-serif;
}

#editform, #editfolderform, #newfolderform, #error, #confirmdeletefile {
    width: 340px;
}

div#uploadform h3,
div#editform h3,
div#folderform h3,
div#editfolderform h3,
div#newfolderform h3,
div#confirmdeletefile h3,
div#confirmdeletefolder h3,
div#error h3 {
	margin: 0 0 10px 0;
	font-size: 11px;
}


div#uploadform label,
div#uploadform input,
div#editform label,
div#editform input,
div#folderform label,
div#folderform input,
div#editfolderform label,
div#editfolderform input,
div#newfolderform label,
div#newfolderform input,
div#confirmdeletefile label,
div#confirmdeletefile input,
div#confirmdeletefolder label,
div#confirmdeletefolder input {
	font-size: 11px;
	margin: 0 4px 4px 0;
} 

div#error h3 {
	color: #ff0000;
}

div#error p,
div#confirmdeletefolder p,
div#confirmdeletefile p {
	font-size: 11px;
}


a#close,
a#closeedit,
a#closeeditfolder {
	color: #575758;
	font-weight: bold;
	text-decoration: none;
	margin: 2px 2px 2px 2px;
	padding: 1px 3px;
	border: 1px solid #575758;
	font-size: 11px;
	vertical-align: middle;
}

a#close:focus,
a#close:hover,
a#closeedit:focus,
a#closeedit:hover {
	color: #ffffff;
	cursor: pointer;
}


.hide 	{display: none};